alembic
arch
fredapi
joblib
matplotlib
numpy
optuna
pandas
pandas-ta==0.4.71b0
pmdarima
psycopg[binary]
pytest
python-dotenv
scikit-learn
SQLAlchemy
statsmodels
torch
torchaudio
torchvision
xgboost
yfinance
