alembic
arch
fredapi
joblib
matplotlib
numpy
optuna
pandas
pandas-ta==0.4.71b0
pmdarima
psycopg[binary]
pytest
PyWavelets==1.8.0
python-dotenv
scikit-learn
SQLAlchemy
statsmodels
torch
torchaudio
torchvision
xlstm==2.0.5
xgboost
yfinance
